{
  "presets": [
    "react-app",
    "@babel/preset-react", 
    "@babel/preset-typescript",
    "@proposal-nullish-coalescing-operator",
    // have to include this plugin because webpack 4 can't parse class properties
    "@plugin-proposal-class-properties"
  ],
  "plugins":[
    ["@babel/plugin-transform-typescript", {"allowDeclareFields": true}],
    "@babel/plugin-transform-class-static-block",
    ["@babel/plugin-proposal-decorators", {"version": "2023-05", "decoratorsBeforeExport": true}],
    ["@babel/plugin-proposal-class-properties"],
    ["react-hot-loader/babel"], 
    ["@babel/plugin-transform-private-methods"],
    ["@babel/plugin-proposal-optional-chaining"],
    ["@babel/plugin-proposal-nullish-coalescing-operator"]
 
    //     'lodash',
    //     '@babel/plugin-transform-typescript',
    //     '@babel/plugin-proposal-class-properties',
    //     '@babel/plugin-proposal-optional-chaining',
    //     '@babel/plugin-proposal-nullish-coalescing-operator',
  ]
}

// {
//   presets: ['@babel/preset-react', '@babel/preset-typescript'],
//   // Detects the type of file being babel'd (either esmodule or commonjs)
//   sourceType: 'unambiguous',
//   plugins: [
//     'react-hot-loader/babel',
//     'lodash',
//     '@babel/plugin-transform-typescript',
//     '@babel/plugin-proposal-class-properties',
//     '@babel/plugin-proposal-optional-chaining',
//     '@babel/plugin-proposal-nullish-coalescing-operator',
//     // This plugin converts commonjs to esmodules which is required for
//     // importing commonjs modules from esmodules in storybook. As a part of
//     // converting to TypeScript we should use esmodules and can eventually
//     // remove this plugin
//     process.env.SIGNAL_ENV === 'storybook' && '@babel/transform-runtime',
//   ].filter(Boolean),
// };
